---
import ContactLinks from '../components/ContactLinks';
import FooterCredits from '../components/FooterCredits';
import MainHeading from '../components/MainHeading.astro';
import Navbar from '../components/Navbar.astro';
import OtherSkillsCarousel from '../components/OtherSkillsCarousel.astro';
import ProjectSection from '../components/ProjectSection.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title='Juan Miguel Villalobos Sanchez'>
  <header class='sticky top-0 z-10'>
    <Navbar />
  </header>
  <main class='px-6'>
    <section
      class='h-[89vh] flex flex-col justify-center items-center'
      id='home'
    >
      <div class='flex flex-col gap-5 justify-center items-center'>
        <h1
          class='text-[10vw] lg:text-[8vw] font-apfelGrotezk text-center leading-tight'
        >
          Juan Miguel Villalobos Sanchez
        </h1>
      </div>
      <p class='text-[5vw] lg:text-[3vw]'>
        Hi. I'm a full stack web developer.
      </p>
    </section>

    <section class='max-w-2xl m-auto text-lg pt-16' id='projects'>
      <MainHeading title='Projects' />

      <ProjectSection
        title='Sleeper'
        img='../../assets/images/penguins.jpg'
        imgAlt='Penguins'
        github=''
        site=''
      >
        <p>
          The Netherlands has a long and fascinating history that goes back
          thousands of years. The land was once home to ancient tribes, Roman
          soldiers, and Frankish kings. It became part of various empires and
          kingdoms, such as the Holy Roman Empire, the Burgundian Netherlands,
          and the Spanish Netherlands.
        </p>
        <p>
          It fought for its independence from Spain in the 16th and 17th
          centuries, and became a powerful republic with a global empire and a
          golden age of trade, art, and science. It faced many challenges and
          changes in the 18th and 19th centuries, such as wars, revolutions,
          invasions, and reforms.
        </p>
        <p>
          It became a modern constitutional monarchy in 1815, and a founding
          member of the European Union in 1957. Today, it is a prosperous and
          progressive country with a rich culture and a diverse population.
        </p>
      </ProjectSection>

      <ProjectSection
        title='Schooled'
        img='../../assets/images/lady.jpg'
        imgAlt='Lady'
        github=''
        site=''
      >
        <p>
          The Netherlands has a long and fascinating history that goes back
          thousands of years. The land was once home to ancient tribes, Roman
          soldiers, and Frankish kings. It became part of various empires and
          kingdoms, such as the Holy Roman Empire, the Burgundian Netherlands,
          and the Spanish Netherlands.
        </p>
        <p>
          It fought for its independence from Spain in the 16th and 17th
          centuries, and became a powerful republic with a global empire and a
          golden age of trade, art, and science. It faced many challenges and
          changes in the 18th and 19th centuries, such as wars, revolutions,
          invasions, and reforms.
        </p>
        <p>
          It became a modern constitutional monarchy in 1815, and a founding
          member of the European Union in 1957. Today, it is a prosperous and
          progressive country with a rich culture and a diverse population.
        </p>
      </ProjectSection>

      <ProjectSection
        title='Msgs2'
        img='../../assets/images/bear.jpg'
        imgAlt='Bear'
        github=''
        site=''
      >
        <p>
          The Netherlands has a long and fascinating history that goes back
          thousands of years. The land was once home to ancient tribes, Roman
          soldiers, and Frankish kings. It became part of various empires and
          kingdoms, such as the Holy Roman Empire, the Burgundian Netherlands,
          and the Spanish Netherlands.
        </p>
        <p>
          It fought for its independence from Spain in the 16th and 17th
          centuries, and became a powerful republic with a global empire and a
          golden age of trade, art, and science. It faced many challenges and
          changes in the 18th and 19th centuries, such as wars, revolutions,
          invasions, and reforms.
        </p>
        <p>
          It became a modern constitutional monarchy in 1815, and a founding
          member of the European Union in 1957. Today, it is a prosperous and
          progressive country with a rich culture and a diverse population.
        </p>
      </ProjectSection>
    </section>

    <section class='max-w-2xl m-auto text-lg min-h-screen pb-40'>
      <MainHeading title='Other Skills' />

      <OtherSkillsCarousel />

      <p class='text-center pt-4'>
        I am also skilled in Adobe Photoshop and Premiere Pro
      </p>

      <!-- Add cards with hover describing what it is. Vids are just gifs. Pics are pics. -->
    </section>

    <section
      class='max-w-2xl m-auto min-h-screen pb-40 text-lg pt-16'
      id='about'
    >
      <MainHeading title='About Me' />

      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto harum
        nihil excepturi reprehenderit veniam non quae sequi? Iure odit earum
        numquam consectetur reprehenderit sed illum perspiciatis reiciendis
        temporibus, dolor rerum!
      </p>
    </section>

    <section class='max-w-2xl m-auto text-lg pt-16' id='contact'>
      <MainHeading title='Contact Me' />

      <div class='pb-32'>
        <ContactLinks />
      </div>
    </section>
  </main>
  <footer class='flex justify-between p-3 bg-slate-500'>
    <div>Juan Miguel Villalobos Sanchez</div>
    <div>
      <FooterCredits client:visible />
    </div>
  </footer>
</Layout>
