---
import ContactLinks from '../components/ContactLinks.astro';
import FooterCredits from '../components/FooterCredits.astro';
import MainHeading from '../components/MainHeading.astro';
import Navbar from '../components/Navbar.astro';
import OtherSkillsCarousel from '../components/OtherSkillsCarousel.astro';
import ProjectSection from '../components/ProjectSection.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title='Juan Miguel Villalobos Sanchez | Portfolio'>
  <header class='fixed top-0 z-10'>
    <Navbar />
  </header>
  <main class='px-6'>
    <section
      class='h-[100vh] flex flex-col justify-center items-center'
      id='home'
    >
      <div class='flex flex-col justify-center items-center'>
        <h1
          class='text-[10vw] lg:text-[8vw] font-display text-center leading-none'
        >
          Juan Miguel
        </h1>
        <h1
          class='text-[10vw] lg:text-[8vw] font-display text-center leading-none'
        >
          Villalobos Sanchez
        </h1>
      </div>
      <p class='text-[5vw] lg:text-[3vw] text-center pt-4'>
        Hi. I'm a full stack web developer.
      </p>
      <!-- TODO: Finish indication to scroll. When scroll down a bit, it disappears.
        Make arrow that goes to scroll down when hovered over. -->
      <!-- SVG arrow down goes here-->
      <!-- <div class='absolute bottom-0 right-0 p-6'>Scroll Down</div> -->
    </section>

    <section class='max-w-2xl mx-auto text-lg pt-16 -m-16' id='projects'>
      <MainHeading title='Projects' />

      <!-- TODO: Parallax on images -->
      <!-- TODO: Images follow mouse -->
      <!-- TODO: Videos come in from side -->
      <!-- TODO: Make so when over a project, a rotating or something video of something relevant translates in. -->

      <ProjectSection
        title='Sleeper'
        img='https://res.cloudinary.com/jmigsan/image/upload/v1684893019/portfolio-three/sleeper_p6oucl.png'
        imgAlt='Sleeper App'
        github='https://github.com/jmigsan/sleeper'
        site='https://sleeper.up.railway.app/'
      >
        <p>
          A sleeping schedule speculative market web app. Built with Next.js,
          Express.js, React, Chakra UI, Firebase Authentication, and PostgreSQL.
        </p>
      </ProjectSection>

      <ProjectSection
        title='Msgs2'
        img='https://res.cloudinary.com/jmigsan/image/upload/v1684898857/portfolio-three/msgs2_juagw9.png'
        imgAlt='Msgs2 App'
        github='https://github.com/jmigsan/sleeper'
        site='https://msgs2.vercel.app/'
      >
        <p>
          A direct messaging app. Built with Next.js, React, TypeScript, tRPC,
          Chakra UI, Prisma, and NextAuth.
        </p>
      </ProjectSection>

      <ProjectSection
        title='Schooled'
        img='https://res.cloudinary.com/jmigsan/image/upload/v1684894352/portfolio-three/schooled_vqhk6z.png'
        imgAlt='Schooled App'
        github='https://github.com/jmigsan/schooled'
        site='https://schooled-jade.vercel.app/'
      >
        <p>
          A Twitter clone to post educational content. Built with Next.js,
          React, TypeScript, tRPC, Tailwind CSS, Prisma, and Clerk.
        </p>
      </ProjectSection>
    </section>

    <section class='max-w-2xl m-auto text-lg pb-40 pt-16'>
      <MainHeading title='Other Skills' />

      <!-- <OtherSkillsCarousel /> -->

      <p class='text-center'>
        I am also skilled in Adobe Photoshop and Premiere Pro
      </p>

      <!-- Add cards with hover describing what it is. Vids are just gifs. Pics are pics. -->
    </section>

    <section class='max-w-2xl m-auto pb-40 text-lg pt' id='about'>
      <MainHeading title='About Me' />

      <p class='text-center'>
        I am a Computer Science student with experience in full stack web
        development.
      </p>
    </section>

    <section class='max-w-2xl m-auto text-lg pt-16' id='contact'>
      <MainHeading title='Contact Me' />

      <div class='pb-32'>
        <ContactLinks />
      </div>
    </section>
  </main>

  <footer class='flex justify-between p-3'>
    <div>Juan Miguel Villalobos Sanchez</div>
    <div>
      <FooterCredits />
    </div>
  </footer>
</Layout>
