<!-- TODO: Make opacity blurry -->
<nav class='sm:hidden'>
  <ul class='flex items-center justify-between font-apfelGrotezk'>
    <li class='inline m-3'>Home</li>
    <li class='inline m-3'>Projects</li>
    <li class='inline m-3'>About</li>
    <li class='inline m-3'>Contact</li>
  </ul>
</nav>
<nav class='hidden sm:flex items-center justify-between font-apfelGrotezk p-3'>
  <div class='flex sm:flex-row flex-col gap-1'>
    <div>Juan Miguel Villalobos Sanchez</div>
  </div>
  <ul>
    <li class='inline m-3'>Home</li>
    <li class='inline m-3'>Projects</li>
    <li class='inline m-3'>About</li>
    <li class='inline m-3'>Contact</li>
  </ul>
</nav>
